@font-face {
	font-family: 'icomoon';
	src:url('../../../library/fonts/icomoon/icomoon.eot?-bwndc5');
	src:url('../../../library/fonts/icomoon/icomoon.eot?#iefix-bwndc5') format('embedded-opentype'),
		url('../../../library/fonts/icomoon/icomoon.woff?-bwndc5') format('woff'),
		url('../../../library/fonts/icomoon/icomoon.ttf?-bwndc5') format('truetype'),
		url('../../../library/fonts/icomoon/icomoon.svg?-bwndc5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bakery:before {
	content: "\e600";
}
.icon-breakfast:before {
	content: "\e601";
}
.icon-catering:before {
	content: "\e602";
}
.icon-community:before {
	content: "\e603";
}
.icon-culture:before {
	content: "\e604";
}
.icon-dinner:before {
	content: "\e605";
}
.icon-food:before {
	content: "\e606";
}
.icon-legend-alcohol:before {
	content: "\e607";
}
.icon-legend-egg-whites:before {
	content: "\e608";
}
.icon-legend-low-calorie:before {
	content: "\e609";
}
.icon-legend-nuts:before {
	content: "\e60a";
}
.icon-legend-signature:before {
	content: "\e60b";
}
.icon-lunch:before {
	content: "\e60c";
}
.icon-magnify:before {
	content: "\e60d";
}
.icon-map:before {
	content: "\e60e";
}
.icon-menu:before {
	content: "\e60f";
}
.icon-nearby:before {
	content: "\e61b";
}
.icon-menu-dots:before {
	content: "\e61c";
}
.icon-phone:before {
	content: "\e61d";
}
.icon-pin:before {
	content: "\e61e";
}
.icon-shopping:before {
	content: "\e61f";
}
.icon-store:before {
	content: "\e622";
}
.icon-stories:before {
	content: "\e623";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-catering:before {
	content: "\e602";
}
.icon-community:before {
	content: "\e603";
}
.icon-culture:before {
	content: "\e604";
}
.icon-dinner:before {
	content: "\e605";
}
.icon-food:before {
	content: "\e606";
}
.icon-legend-alcohol:before {
	content: "\e607";
	color: #9c2f21;
}
.icon-legend-egg-whites:before {
	content: "\e608";
	color: #dedab9;
}
.icon-legend-low-calorie:before {
	content: "\e609";
	color: #95ac00;
}
.icon-legend-nuts:before {
	content: "\e60a";
	color: #bb922c;
}
.icon-legend-signature:before {
	content: "\e60b";
	color: #5b2a06;
}
.icon-lunch:before {
	content: "\e60c";
}
.icon-magnify:before {
	content: "\e60d";
}
.icon-map:before {
	content: "\e60e";
}
.icon-menu:before {
	content: "\e60f";
}
.icon-nearby:before {
	content: "\e61b";
}
.icon-menu-dots:before {
	content: "\e61c";
}
.icon-phone:before {
	content: "\e61d";
}
.icon-pin:before {
	content: "\e61e";
}
.icon-shopping:before {
	content: "\e61f";
}
.icon-store:before {
	content: "\e622";
}
.icon-stories:before {
	content: "\e623";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-facebook:before {
	content: "\e610";
}
.icon-instagram:before {
	content: "\e611";
}
.icon-twitter:before {
	content: "\e612";
}
.icon-pinterest:before {
	content: "\e613";
}
.icon-arrow-left:before {
	content: "\e614";
}
.icon-arrow-down:before {
	content: "\e615";
}
.icon-arrow-up:before {
	content: "\e616";
}
.icon-arrow-right:before {
	content: "\e617";
}
.icon-arrow-left-large:before {
	content: "\e618";
}
.icon-arrow-down-large:before {
	content: "\e619";
}
.icon-arrow-up-large:before {
	content: "\e61a";
}
.icon-arrow-right-large:before {
	content: "\e620";
}
