/**
* La Madeleine
* Text styling
**/

$h1-font-size: 32px;
$h2-font-size: 26px;
$h3-font-size: 22px;
$h4-font-size: 18px;
$base-font-size: 14px;

h1, h2, h3, h4{
	font-family: $serif;
	line-height: 1.2;
}

h1{
	font-size: $h1-font-size;
}

h2{
	font-size: $h2-font-size;
}

h3{
	font-size: $h3-font-size;
}

h4{
	font-size: $h4-font-size;
}

p{
	font-family: Georgia, serif;
	font-size: $base-font-size;
}

a{
	color: $redBrown;
	@include transition-duration(0.25s);
	&:hover{
		color: $orange;
	}
}

#sidebar{
	h1, h2, h3, h4{
		font-family: $sans-serif;
		text-align: center;
		letter-spacing: 1px;
		margin-top: 0;
	}
}