\.DS_Store
\.sass-cache
\.hgignore
\.hgx
wp-config\.php
wp-content/uploads
wp-content/uploads/*
searchreplacedb2\.php
wp-content/podscache/
wp-content/podscache
wp-content/podscache/*.php
wp-content/plugins/lam/logs/cron\.txt
wp-cli\.yml
wp-content/debug\.log
