/**
* La Madeleine
* IE 8 & 9 fixes
**/

@import '../styleguide/colors';

// IE8 and IE9
.ie8, .ie9{
	#sidebar{
		.widget-location{
			#location-cta{
				&.map-loaded{
					.front{
						display: none;
					}
				}
			}
		}
	}
}

// IE8 only
.ie8 {
	#header{
		.tagline{
			position: relative;
			top: -30px;
			left: 200px;
		}
	}
	#container #content{
		width: 1140px;
		&.locations{
			height: 800px !important;
		}
		.loading .f_circleG{
			background-color: $redBrown !important;
		}
		#carousel{
			width: 820px !important;
			.carousel-controls .icon{
				color: $lightCream !important;
			}
		}
		.get-directions{
			display: none;
		}
		.menu-category.last-category{
			border-bottom: 0;
		}
		#location-cta{
			.geo, .location-cta-divider{
				display: none !important;
			}
			.zip{
				bottom: 80px !important;
			}
			.icon-magnify{
				color: $lightCream;
				font-size: 50px;
				margin-bottom: 10px;
			}
			#zip-input{
				width: 200px !important;
				padding-top: 5px;
				margin: 0 auto;
			}
			#use-zip{
				position: relative;
				top: 25px;
				&:hover{
					cursor: pointer !important;
				}
			}
			.btn-wrapper{
				.btn-light{
					margin: 0 10px;
				}
			}
		}
		.btn{
			padding-right: 20px !important;
		}
		.btn:after{
			display: none;
		}
		#sidebar{
			.widget-location{
				border-bottom: 0;
			}
			#zip-input-secondary{
				width: 200px;
				padding-top: 7px;
				float: left;
				position: relative;
				left: 20px;
			}
			#use-zip-secondary{
				position: relative;
				top: 7px;
			}
		}
	}
}