/**
* La Madeleine
* IE 8 & 9 fixes
**/
/**
* La Madeleine
* Color Variables
**/
/* Standard */
/* La Madeleine Colors */
/* line 14, ../sass/importer/ie-fixes.scss */
.ie8 #sidebar .widget-location #location-cta.map-loaded .front, .ie9 #sidebar .widget-location #location-cta.map-loaded .front {
  display: none;
}

/* line 26, ../sass/importer/ie-fixes.scss */
.ie8 #header .tagline {
  position: relative;
  top: -30px;
  left: 200px;
}
/* line 34, ../sass/importer/ie-fixes.scss */
.ie8 #container #content.locations {
  height: 800px !important;
}
/* line 37, ../sass/importer/ie-fixes.scss */
.ie8 #container #content .loading .f_circleG {
  background-color: #6c2904 !important;
}
/* line 40, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #carousel {
  max-width: 820px !important;
}
/* line 42, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #carousel .carousel-controls .icon {
  color: #fffdf0 !important;
}
/* line 46, ../sass/importer/ie-fixes.scss */
.ie8 #container #content .get-directions {
  display: none;
}
/* line 49, ../sass/importer/ie-fixes.scss */
.ie8 #container #content .menu-category.last-category {
  border-bottom: 0;
}
/* line 53, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #location-cta .geo, .ie8 #container #content #location-cta .location-cta-divider {
  display: none !important;
}
/* line 56, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #location-cta .zip {
  bottom: 80px !important;
}
/* line 59, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #location-cta .icon-magnify {
  color: #fffdf0;
  font-size: 50px;
  margin-bottom: 10px;
}
/* line 64, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #location-cta #zip-input {
  width: 200px !important;
  padding-top: 5px;
  margin: 0 auto;
}
/* line 69, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #location-cta #use-zip {
  position: relative;
  top: 25px;
}
/* line 72, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #location-cta #use-zip:hover {
  cursor: pointer !important;
}
/* line 77, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #location-cta .btn-wrapper .btn-light {
  margin: 0 10px;
}
/* line 82, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #mobile-nav a {
  background: #fffdf0;
}
/* line 85, ../sass/importer/ie-fixes.scss */
.ie8 #container #content .btn {
  padding-right: 20px !important;
}
/* line 88, ../sass/importer/ie-fixes.scss */
.ie8 #container #content .btn:after {
  display: none;
}
/* line 92, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #sidebar .widget-location {
  border-bottom: 0;
}
/* line 95, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #sidebar .zip-wrapper {
  left: -10px !important;
}
/* line 98, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #sidebar #zip-input-secondary {
  width: 165px;
  padding-top: 7px;
  float: left;
  position: relative;
  left: 20px;
}
/* line 105, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #sidebar #use-zip-secondary {
  position: relative;
  top: 0px;
  right: 25px;
}
/* line 111, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #sidebar #widget-location-mobile .btn {
  width: 100% !important;
}
/* line 115, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #sidebar .menu-legend .legend-item {
  font-size: 10px !important;
}
/* line 119, ../sass/importer/ie-fixes.scss */
.ie8 #container #content #sidebar .locate.btn,
.ie8 #container #content #sidebar .locate.btn .loading {
  display: none;
}
