@import url(http://fonts.googleapis.com/css?family=Lato:700|Playfair+Display:400italic|Merriweather:400,700);
/*
SCSS custom theme styling importer
Author: nFusion (http://nfusion.com)
*/
/**
* La Madeleine
* Media Query Sizes
**/
/**
* La Madeleine
* Custom mixins
**/
/**
* La Madeleine
* Color Variables
**/
/* Standard */
/* La Madeleine Colors */
/**
* La Madeleine
* Fonts
**/
@font-face {
  font-family: 'ostrich_sans_roundregular';
  src: url("../../../library/fonts/ostrich/ostrich_sans_round_regular-webfont.eot");
  src: url("../../../library/fonts/ostrich/ostrich_sans_round_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../library/fonts/ostrich/ostrich_sans_round_regular-webfont.woff") format("woff"), url("../../../library/fonts/ostrich/ostrich_sans_round_regular-webfont.ttf") format("truetype"), url("../../../library/fonts/ostrich/ostrich_sans_round_regular-webfont.svg#ostrich_sans_roundregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
* La Madeleine
* Text styling
**/
/* line 12, ../sass/styleguide/_text.scss */
h1, h2, h3, h4 {
  font-family: "Merriweather", serif;
  line-height: 1.2;
}

/* line 17, ../sass/styleguide/_text.scss */
h1 {
  font-size: 32px;
}

/* line 21, ../sass/styleguide/_text.scss */
h2 {
  font-size: 26px;
}

/* line 25, ../sass/styleguide/_text.scss */
h3 {
  font-size: 22px;
}

/* line 29, ../sass/styleguide/_text.scss */
h4 {
  font-size: 18px;
}

/* line 33, ../sass/styleguide/_text.scss */
p, a {
  font-family: Georgia, serif;
  font-size: 14px;
}

/* line 38, ../sass/styleguide/_text.scss */
a {
  color: #6c2904;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 41, ../sass/styleguide/_text.scss */
a:hover {
  color: #e5730e;
}

/* line 47, ../sass/styleguide/_text.scss */
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4 {
  font-family: "ostrich_sans_roundregular", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 0;
}

/**
* La Madeleine
* Buttons
**/
/* line 6, ../sass/styleguide/_buttons.scss */
a.btn {
  color: #fffdf0;
  font-family: "Lato", sans-serif;
  font-style: none;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 7px 30px 7px 20px;
  font-weight: bold;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #310d00 0 -1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b64507), color-stop(100%, #6c2904));
  background-image: -webkit-linear-gradient(#b64507, #6c2904);
  background-image: -moz-linear-gradient(#b64507, #6c2904);
  background-image: -o-linear-gradient(#b64507, #6c2904);
  background-image: linear-gradient(#b64507, #6c2904);
  -webkit-transition-property: background-image;
  -moz-transition-property: background-image;
  -o-transition-property: background-image;
  transition-property: background-image;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 22, ../sass/styleguide/_buttons.scss */
a.btn:hover {
  color: #fffad7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ce4e08), color-stop(100%, #853205));
  background-image: -webkit-linear-gradient(#ce4e08, #853205);
  background-image: -moz-linear-gradient(#ce4e08, #853205);
  background-image: -o-linear-gradient(#ce4e08, #853205);
  background-image: linear-gradient(#ce4e08, #853205);
}
/* line 25, ../sass/styleguide/_buttons.scss */
a.btn:hover:after {
  color: #fffad7;
  right: 5px;
}
/* line 30, ../sass/styleguide/_buttons.scss */
a.btn:after {
  content: "\e620";
  font-family: 'icomoon';
  color: #fffdf0;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  top: 7px;
  right: 10px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 43, ../sass/styleguide/_buttons.scss */
a.btn-light {
  color: #7a3910;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #310d00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffdf0), color-stop(100%, #e5d7cd));
  background-image: -webkit-linear-gradient(#fffdf0, #e5d7cd);
  background-image: -moz-linear-gradient(#fffdf0, #e5d7cd);
  background-image: -o-linear-gradient(#fffdf0, #e5d7cd);
  background-image: linear-gradient(#fffdf0, #e5d7cd);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../../library/fonts/icomoon/icomoon.eot?-bwndc5");
  src: url("../../../library/fonts/icomoon/icomoon.eot?#iefix-bwndc5") format("embedded-opentype"), url("../../../library/fonts/icomoon/icomoon.woff?-bwndc5") format("woff"), url("../../../library/fonts/icomoon/icomoon.ttf?-bwndc5") format("truetype"), url("../../../library/fonts/icomoon/icomoon.svg?-bwndc5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/styleguide/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/styleguide/_icons.scss */
.icon-menu:before {
  content: "\e621";
}

/* line 29, ../sass/styleguide/_icons.scss */
.icon-stories:before {
  content: "\e600";
}

/* line 32, ../sass/styleguide/_icons.scss */
.icon-store:before {
  content: "\e601";
}

/* line 35, ../sass/styleguide/_icons.scss */
.icon-shopping:before {
  content: "\e602";
}

/* line 38, ../sass/styleguide/_icons.scss */
.icon-pin:before {
  content: "\e603";
}

/* line 41, ../sass/styleguide/_icons.scss */
.icon-phone:before {
  content: "\e604";
}

/* line 44, ../sass/styleguide/_icons.scss */
.icon-other:before {
  content: "\e605";
}

/* line 47, ../sass/styleguide/_icons.scss */
.icon-nearby:before {
  content: "\e606";
}

/* line 50, ../sass/styleguide/_icons.scss */
.icon-map:before {
  content: "\e607";
}

/* line 53, ../sass/styleguide/_icons.scss */
.icon-lunch:before {
  content: "\e608";
}

/* line 56, ../sass/styleguide/_icons.scss */
.icon-legend-signature:before {
  content: "\e609";
  color: #5b2a06;
}

/* line 60, ../sass/styleguide/_icons.scss */
.icon-legend-nuts:before {
  content: "\e60a";
  color: #bb922c;
}

/* line 64, ../sass/styleguide/_icons.scss */
.icon-legend-low-calorie:before {
  content: "\e60b";
  color: #95ac00;
}

/* line 68, ../sass/styleguide/_icons.scss */
.icon-legend-egg-whites:before {
  content: "\e60c";
  color: #dedab9;
}

/* line 72, ../sass/styleguide/_icons.scss */
.icon-legend-alcohol:before {
  content: "\e60d";
  color: #9c2f21;
}

/* line 76, ../sass/styleguide/_icons.scss */
.icon-food:before {
  content: "\e60e";
}

/* line 79, ../sass/styleguide/_icons.scss */
.icon-dinner:before {
  content: "\e60f";
}

/* line 82, ../sass/styleguide/_icons.scss */
.icon-culture:before {
  content: "\e61b";
}

/* line 85, ../sass/styleguide/_icons.scss */
.icon-community:before {
  content: "\e61c";
}

/* line 88, ../sass/styleguide/_icons.scss */
.icon-catering:before {
  content: "\e61d";
}

/* line 91, ../sass/styleguide/_icons.scss */
.icon-breakfast:before {
  content: "\e61e";
}

/* line 94, ../sass/styleguide/_icons.scss */
.icon-bakery:before {
  content: "\e61f";
}

/* line 97, ../sass/styleguide/_icons.scss */
.icon-youtube:before {
  content: "\f167";
}

/* line 100, ../sass/styleguide/_icons.scss */
.icon-facebook:before {
  content: "\e610";
}

/* line 103, ../sass/styleguide/_icons.scss */
.icon-instagram:before {
  content: "\e611";
}

/* line 106, ../sass/styleguide/_icons.scss */
.icon-twitter:before {
  content: "\e612";
}

/* line 109, ../sass/styleguide/_icons.scss */
.icon-pinterest:before {
  content: "\e613";
}

/* line 112, ../sass/styleguide/_icons.scss */
.icon-arrow-left:before {
  content: "\e614";
}

/* line 115, ../sass/styleguide/_icons.scss */
.icon-arrow-down:before {
  content: "\e615";
}

/* line 118, ../sass/styleguide/_icons.scss */
.icon-arrow-up:before {
  content: "\e616";
}

/* line 121, ../sass/styleguide/_icons.scss */
.icon-arrow-right:before {
  content: "\e617";
}

/* line 124, ../sass/styleguide/_icons.scss */
.icon-arrow-left-large:before {
  content: "\e618";
}

/* line 127, ../sass/styleguide/_icons.scss */
.icon-arrow-down-large:before {
  content: "\e619";
}

/* line 130, ../sass/styleguide/_icons.scss */
.icon-arrow-up-large:before {
  content: "\e61a";
}

/* line 133, ../sass/styleguide/_icons.scss */
.icon-arrow-right-large:before {
  content: "\e620";
}

/**
* La Madeleine
* Loading indicators
**/
/** Loader 1 Start **/
/* line 9, ../sass/styleguide/_loaders.scss */
#floatingCirclesG {
  position: relative;
  width: 65px;
  height: 65px;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

/* line 20, ../sass/styleguide/_loaders.scss */
.f_circleG {
  position: absolute;
  background-color: #310d00;
  height: 12px;
  width: 12px;
  -moz-border-radius: 6px;
  -moz-animation-name: f_fadeG;
  -moz-animation-duration: 0.96s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 6px;
  -webkit-animation-name: f_fadeG;
  -webkit-animation-duration: 0.96s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 6px;
  -ms-animation-name: f_fadeG;
  -ms-animation-duration: 0.96s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 6px;
  -o-animation-name: f_fadeG;
  -o-animation-duration: 0.96s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 6px;
  animation-name: f_fadeG;
  animation-duration: 0.96s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

/* line 52, ../sass/styleguide/_loaders.scss */
#frotateG_01 {
  left: 0;
  top: 27px;
  -moz-animation-delay: 0.36s;
  -webkit-animation-delay: 0.36s;
  -ms-animation-delay: 0.36s;
  -o-animation-delay: 0.36s;
  animation-delay: 0.36s;
}

/* line 62, ../sass/styleguide/_loaders.scss */
#frotateG_02 {
  left: 8px;
  top: 8px;
  -moz-animation-delay: 0.48s;
  -webkit-animation-delay: 0.48s;
  -ms-animation-delay: 0.48s;
  -o-animation-delay: 0.48s;
  animation-delay: 0.48s;
}

/* line 72, ../sass/styleguide/_loaders.scss */
#frotateG_03 {
  left: 27px;
  top: 0;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 82, ../sass/styleguide/_loaders.scss */
#frotateG_04 {
  right: 8px;
  top: 8px;
  -moz-animation-delay: 0.72s;
  -webkit-animation-delay: 0.72s;
  -ms-animation-delay: 0.72s;
  -o-animation-delay: 0.72s;
  animation-delay: 0.72s;
}

/* line 92, ../sass/styleguide/_loaders.scss */
#frotateG_05 {
  right: 0;
  top: 27px;
  -moz-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  -ms-animation-delay: 0.84s;
  -o-animation-delay: 0.84s;
  animation-delay: 0.84s;
}

/* line 102, ../sass/styleguide/_loaders.scss */
#frotateG_06 {
  right: 8px;
  bottom: 8px;
  -moz-animation-delay: 0.96s;
  -webkit-animation-delay: 0.96s;
  -ms-animation-delay: 0.96s;
  -o-animation-delay: 0.96s;
  animation-delay: 0.96s;
}

/* line 112, ../sass/styleguide/_loaders.scss */
#frotateG_07 {
  left: 27px;
  bottom: 0;
  -moz-animation-delay: 1.08s;
  -webkit-animation-delay: 1.08s;
  -ms-animation-delay: 1.08s;
  -o-animation-delay: 1.08s;
  animation-delay: 1.08s;
}

/* line 122, ../sass/styleguide/_loaders.scss */
#frotateG_08 {
  left: 8px;
  bottom: 8px;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-moz-keyframes f_fadeG {
  /* line 133, ../sass/styleguide/_loaders.scss */
  0% {
    background-color: #b55a0f;
  }

  /* line 136, ../sass/styleguide/_loaders.scss */
  100% {
    background-color: #310d00;
  }
}

@-webkit-keyframes f_fadeG {
  /* line 142, ../sass/styleguide/_loaders.scss */
  0% {
    background-color: #b55a0f;
  }

  /* line 145, ../sass/styleguide/_loaders.scss */
  100% {
    background-color: #310d00;
  }
}

@-ms-keyframes f_fadeG {
  /* line 151, ../sass/styleguide/_loaders.scss */
  0% {
    background-color: #b55a0f;
  }

  /* line 154, ../sass/styleguide/_loaders.scss */
  100% {
    background-color: #310d00;
  }
}

@-o-keyframes f_fadeG {
  /* line 160, ../sass/styleguide/_loaders.scss */
  0% {
    background-color: #b55a0f;
  }

  /* line 163, ../sass/styleguide/_loaders.scss */
  100% {
    background-color: #310d00;
  }
}

@keyframes f_fadeG {
  /* line 169, ../sass/styleguide/_loaders.scss */
  0% {
    background-color: #b55a0f;
  }

  /* line 172, ../sass/styleguide/_loaders.scss */
  100% {
    background-color: #310d00;
  }
}

/** Loader 1 End **/
/**
* La Madeleine
* Custom form styling
**/
/* line 6, ../sass/styleguide/_forms.scss */
::-webkit-input-placeholder {
  color: #cbaf9a;
}

/* line 10, ../sass/styleguide/_forms.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #cbaf9a;
}

/* line 14, ../sass/styleguide/_forms.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #cbaf9a;
}

/* line 18, ../sass/styleguide/_forms.scss */
:-ms-input-placeholder {
  color: #cbaf9a;
}

/**
* La Madeleine
* Dividers
**/
/* line 6, ../sass/styleguide/_dividers.scss */
hr.dashed {
  border: 0;
  border-bottom: 1px dashed #cbaf9a;
}

/**
* La Madeleine
* Utility classes
**/
/* line 6, ../sass/framework/_utilities.scss */
.block {
  padding: 20px;
  text-align: center;
  height: 100%;
}
/* line 10, ../sass/framework/_utilities.scss */
.block p {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 15, ../sass/framework/_utilities.scss */
.block.gray {
  background-color: #cccccc;
}
/* line 18, ../sass/framework/_utilities.scss */
.block.light-gray {
  background-color: #e6e6e6;
}

/* line 24, ../sass/framework/_utilities.scss */
.row.no-gutter .column, .row.no-gutter .columns {
  padding: 0;
}

/**
* La Madeleine
* Global framework layout
**/
/* line 6, ../sass/framework/_layout.scss */
html, body, #container {
  height: 100%;
}

/* line 10, ../sass/framework/_layout.scss */
body {
  background: url(../../../img/halftone.png);
  font-family: Georgia, serif;
}

/* line 15, ../sass/framework/_layout.scss */
#container {
  width: 100%;
  max-width: 1140px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  background: #fffdf0;
}

/* line 24, ../sass/framework/_layout.scss */
#content {
  position: relative;
  background: #fffdf0;
}
/* line 27, ../sass/framework/_layout.scss */
#content #main {
  width: 100%;
  padding: 0;
}
/* line 31, ../sass/framework/_layout.scss */
#content #sidebar {
  width: 100%;
  padding: 0;
}
/* line 34, ../sass/framework/_layout.scss */
#content #sidebar .widget {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #cbaf9a;
}
/* line 38, ../sass/framework/_layout.scss */
#content #sidebar .widget:last-of-type {
  border-bottom: 0;
}
/* line 43, ../sass/framework/_layout.scss */
#content .sidebar-wrapper {
  padding: 10px;
}

@media (min-width: 768px) {
  /* line 49, ../sass/framework/_layout.scss */
  #container {
    padding-top: 0;
  }
}
@media (min-width: 980px) {
  /* line 55, ../sass/framework/_layout.scss */
  #content {
    width: 100%;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 58, ../sass/framework/_layout.scss */
  #content #main {
    width: 70%;
    float: left;
  }
  /* line 62, ../sass/framework/_layout.scss */
  #content #sidebar {
    width: 30%;
    float: left;
  }
  /* line 65, ../sass/framework/_layout.scss */
  #content #sidebar .sidebar-wrapper {
    padding: 15px 25px 0;
  }
  /* line 67, ../sass/framework/_layout.scss */
  #content #sidebar .sidebar-wrapper .widget:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1140px) {
  /* line 78, ../sass/framework/_layout.scss */
  #content #main {
    width: 72%;
  }
  /* line 81, ../sass/framework/_layout.scss */
  #content #sidebar {
    width: 28%;
  }
}
/**
* La Madeleine
* Primary navigation
**/
/* line 6, ../sass/framework/_nav.scss */
#nav {
  width: 100%;
  max-width: 1140px;
  height: 830px;
  max-height: 830px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  color: #fffdf0;
}
/* line 17, ../sass/framework/_nav.scss */
#nav .nav-wrapper {
  width: 320px;
  height: 830px;
  max-width: 320px;
  max-height: 830px;
  padding-top: 82px;
  position: absolute;
  top: 0;
  left: -340px;
  z-index: 100;
  background: url(../../../img/nav/nav-bg.jpg) no-repeat;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 8px -8px 18px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 8px -8px 18px;
  box-shadow: rgba(0, 0, 0, 0.5) 8px -8px 18px;
}
/* line 31, ../sass/framework/_nav.scss */
#nav .nav-wrapper.active {
  left: 0;
}
/* line 35, ../sass/framework/_nav.scss */
#nav h4 {
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #e5730e;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
}
/* line 44, ../sass/framework/_nav.scss */
#nav hr {
  width: 80%;
  margin: 15px auto;
  border: 0;
  border-bottom: 1px dashed #6c2904;
}
/* line 50, ../sass/framework/_nav.scss */
#nav .nav-group {
  padding-bottom: 15px;
}
/* line 52, ../sass/framework/_nav.scss */
#nav .nav-group a:first-of-type {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px inset;
}
/* line 56, ../sass/framework/_nav.scss */
#nav .nav-item {
  display: block;
  padding: 8px 25px;
  margin: 2px 0;
  position: relative;
  color: #fffdf0;
  background: rgba(0, 0, 0, 0.35);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 64, ../sass/framework/_nav.scss */
#nav .nav-item:after {
  content: "\e620";
  font-family: 'icomoon';
  color: #fffdf0;
  font-size: 16px;
  position: absolute;
  top: 16px;
  right: 25px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 74, ../sass/framework/_nav.scss */
#nav .nav-item:hover {
  color: #e5730e;
  background: rgba(0, 0, 0, 0.5);
}
/* line 77, ../sass/framework/_nav.scss */
#nav .nav-item:hover:after {
  color: #e5730e;
  right: 15px;
}
/* line 82, ../sass/framework/_nav.scss */
#nav .nav-item .icon {
  font-size: 30px;
}
/* line 85, ../sass/framework/_nav.scss */
#nav .nav-item .item-title {
  position: relative;
  top: -5px;
  left: 20px;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "ostrich_sans_roundregular", sans-serif;
}
/* line 95, ../sass/framework/_nav.scss */
#nav .social-group {
  text-align: center;
}
/* line 97, ../sass/framework/_nav.scss */
#nav .social-group a {
  display: inline-block;
  margin: 7px;
  padding: 8px;
  font-size: 24px;
  color: #fffdf0;
  border: 1px solid #e5730e;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-shadow: #310d00 0 -1px 0;
}
/* line 107, ../sass/framework/_nav.scss */
#nav .social-group a:hover {
  color: #e5730e;
}
/* line 112, ../sass/framework/_nav.scss */
#nav .eclub {
  text-align: center;
}
/* line 114, ../sass/framework/_nav.scss */
#nav .eclub p {
  font-size: 14px;
}

/**
* La Madeleine
* Mobile secondary navigation
**/
/* line 6, ../sass/framework/_mobile-nav.scss */
#mobile-nav {
  width: 100%;
  height: 60px;
  max-height: 60px;
  overflow: hidden;
}
/* line 11, ../sass/framework/_mobile-nav.scss */
#mobile-nav a {
  display: block;
  float: left;
  width: 25%;
  padding: 5px 2% 6px;
  border-left: 1px solid #cbaf9a;
}
/* line 17, ../sass/framework/_mobile-nav.scss */
#mobile-nav a.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffdf0), color-stop(100%, #e7d5b8));
  background-image: -webkit-linear-gradient(#fffdf0, #e7d5b8);
  background-image: -moz-linear-gradient(#fffdf0, #e7d5b8);
  background-image: -o-linear-gradient(#fffdf0, #e7d5b8);
  background-image: linear-gradient(#fffdf0, #e7d5b8);
}
/* line 21, ../sass/framework/_mobile-nav.scss */
#mobile-nav .nav-item {
  font-size: 9px;
  text-align: center;
  color: #310d00;
}
/* line 25, ../sass/framework/_mobile-nav.scss */
#mobile-nav .nav-item:first-child {
  border: 0;
}
/* line 29, ../sass/framework/_mobile-nav.scss */
#mobile-nav .icon {
  font-size: 40px;
  color: #7a3910;
}

@media (min-width: 980px) {
  /* line 36, ../sass/framework/_mobile-nav.scss */
  #mobile-nav {
    display: none;
  }
}
/**
* La Madeleine
* Global header layout
**/
/* line 6, ../sass/framework/_header.scss */
#header {
  width: 100%;
  height: 70px;
  padding: 8px 10px;
  position: fixed;
  z-index: 101;
  text-align: center;
  background: url(../../../img/header/header-bg-tile.jpg) 0 -10px repeat-x;
}
/* line 14, ../sass/framework/_header.scss */
#header .header-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/* line 20, ../sass/framework/_header.scss */
#header .logo {
  width: 200px;
  height: auto;
}
/* line 24, ../sass/framework/_header.scss */
#header .tagline {
  display: none;
}
/* line 27, ../sass/framework/_header.scss */
#header .icon-menu {
  float: left;
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 40px;
  color: #fffdf0;
}
/* line 34, ../sass/framework/_header.scss */
#header .icon-menu:before {
  text-shadow: #310d00 0 -1px 0;
}
/* line 37, ../sass/framework/_header.scss */
#header .icon-menu span {
  visibility: hidden;
}
/* line 41, ../sass/framework/_header.scss */
#header .icon-phone {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 50px;
  color: #fffdf0;
  text-shadow: #310d00 0 -1px 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  /* line 53, ../sass/framework/_header.scss */
  #header {
    height: 80px;
    padding: 13px 15px;
    position: relative;
    background-position: 0 0;
  }
  /* line 58, ../sass/framework/_header.scss */
  #header .logo-wrapper {
    float: right;
  }
  /* line 61, ../sass/framework/_header.scss */
  #header .logo {
    float: left;
  }
  /* line 64, ../sass/framework/_header.scss */
  #header .tagline {
    display: block;
    float: left;
    position: relative;
    top: 19px;
    left: 2px;
  }
  /* line 72, ../sass/framework/_header.scss */
  #header .icon-menu:hover {
    cursor: pointer;
  }
  /* line 75, ../sass/framework/_header.scss */
  #header .icon-menu span {
    visibility: visible;
    font-size: 22px;
    color: #310d00;
    font-family: "ostrich_sans_roundregular", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: -10px;
    left: 8px;
  }
  /* line 87, ../sass/framework/_header.scss */
  #header .icon-phone {
    display: none;
  }
}
@media (min-width: 1140px) {
  /* line 95, ../sass/framework/_header.scss */
  #header .logo-wrapper {
    padding-right: 20px;
  }
  /* line 98, ../sass/framework/_header.scss */
  #header .icon-menu {
    padding-left: 20px;
  }
}
/**
* La Madeleine
* Foundation overrides
**/
/* line 6, ../sass/framework/_override.scss */
aside p {
  font-style: normal;
}

@media screen and (max-width: 600px) {
  /* line 13, ../sass/framework/_override.scss */
  #wpadminbar {
    position: fixed !important;
  }
}
/**
* La Madeleine
* Carousel component
**/
/* Swipe.js styles */
/* line 8, ../sass/components/_carousel.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

/* line 15, ../sass/components/_carousel.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative;
  line-height: 0;
}

/* line 20, ../sass/components/_carousel.scss */
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
/* line 24, ../sass/components/_carousel.scss */
.swipe-wrap > div img {
  width: 100%;
  height: auto;
}

/* Custom carousel styles */
/* line 32, ../sass/components/_carousel.scss */
#carousel .carousel-text {
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  pointer-events: none;
}
/* line 39, ../sass/components/_carousel.scss */
#carousel .btn {
  pointer-events: auto;
}
/* line 42, ../sass/components/_carousel.scss */
#carousel h1 {
  font-size: 14px;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #310d00;
}
/* line 49, ../sass/components/_carousel.scss */
#carousel p.subhead {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #310d00;
  line-height: 1.2;
}
/* line 55, ../sass/components/_carousel.scss */
#carousel .carousel-paginate {
  width: 100%;
  height: 30px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
/* line 61, ../sass/components/_carousel.scss */
#carousel .carousel-paginate .dot {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 5px;
  background: white;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 69, ../sass/components/_carousel.scss */
#carousel .carousel-paginate .dot:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 73, ../sass/components/_carousel.scss */
#carousel .carousel-paginate .dot.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 82, ../sass/components/_carousel.scss */
.no-touch #carousel .carousel-controls {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 45%;
}
/* line 87, ../sass/components/_carousel.scss */
.no-touch #carousel .carousel-controls .control {
  width: 40px;
  height: 40px;
  color: white;
  background: #310d00;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 95, ../sass/components/_carousel.scss */
.no-touch #carousel .carousel-controls .control:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  cursor: pointer;
}
/* line 100, ../sass/components/_carousel.scss */
.no-touch #carousel .carousel-controls .icon {
  font-size: 24px;
}
/* line 103, ../sass/components/_carousel.scss */
.no-touch #carousel .carousel-controls .control.prev {
  padding: 8px 6px;
  float: left;
}
/* line 107, ../sass/components/_carousel.scss */
.no-touch #carousel .carousel-controls .control.next {
  padding: 8px 10px;
  float: right;
}

@media (min-width: 980px) {
  /* line 116, ../sass/components/_carousel.scss */
  #carousel h1 {
    font-size: 22px;
  }
  /* line 119, ../sass/components/_carousel.scss */
  #carousel p {
    font-size: 16px;
  }
  /* line 122, ../sass/components/_carousel.scss */
  #carousel .carousel-paginate {
    height: 40px;
  }
}
@media (min-width: 1140px) {
  /* line 130, ../sass/components/_carousel.scss */
  #carousel .carousel-text {
    padding: 20px;
  }
  /* line 133, ../sass/components/_carousel.scss */
  #carousel h1 {
    font-size: 32px;
  }
  /* line 136, ../sass/components/_carousel.scss */
  #carousel p {
    font-size: 20px;
  }
}
/**
* La Madeleine
* Daypart widget
**/
/* line 6, ../sass/widgets/_daypart.scss */
.widget-daypart {
  width: 100%;
  overflow: hidden;
}
/* line 9, ../sass/widgets/_daypart.scss */
.widget-daypart .daypart-wrapper {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
/* line 13, ../sass/widgets/_daypart.scss */
.widget-daypart .daypart-wrapper a {
  display: none;
  position: relative;
}
/* line 16, ../sass/widgets/_daypart.scss */
.widget-daypart .daypart-wrapper a:after {
  color: #b55a0f;
  font-family: 'icomoon';
  font-size: 24px;
  content: "\e620";
  position: absolute;
  top: 20px;
  right: 0;
}
/* line 26, ../sass/widgets/_daypart.scss */
.widget-daypart .daypart-wrapper a:first-child {
  display: block;
}
/* line 30, ../sass/widgets/_daypart.scss */
.widget-daypart .daypart-image {
  width: 50%;
  float: left;
}
/* line 34, ../sass/widgets/_daypart.scss */
.widget-daypart .daypart-text {
  width: 50%;
  padding: 0 15px;
  float: left;
  font-family: "Merriweather", serif;
  color: #310d00;
}
/* line 41, ../sass/widgets/_daypart.scss */
.widget-daypart .title {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
}
/* line 46, ../sass/widgets/_daypart.scss */
.widget-daypart .desc {
  font-size: 12px;
  font-style: italic;
}

@media (min-width: 980px) {
  /* line 55, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  /* line 59, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:after {
    right: 10px;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }
  /* line 64, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:hover:after {
    right: 0;
  }
  /* line 67, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:hover .daypart {
    background-color: #f4f2df;
  }
  /* line 73, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:first-child:after {
    content: "";
  }
  /* line 76, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:first-child .daypart {
    padding: 5px 5px 10px;
    margin: 0 0 10px;
    border: 1px solid;
    border-color: #cbaf9a #cbaf9a #7a3910 #cbaf9a;
    background-color: #f4f2df;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }
  /* line 84, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:first-child .daypart:hover {
    background-color: #edeacc;
  }
  /* line 87, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:first-child .daypart .daypart-image {
    width: 100%;
  }
  /* line 90, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:first-child .daypart .daypart-text {
    width: 100%;
    padding-top: 5px;
  }
  /* line 93, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper a:first-child .daypart .daypart-text:before {
    content: url(../../../img/menu/now.png);
    width: 50px;
    height: 30px;
    padding-top: 5px;
    float: left;
  }
  /* line 103, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper .daypart {
    width: 100%;
    margin: 7px 0;
    overflow: hidden;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }
  /* line 110, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper .daypart-image-bg {
    width: 45px;
    height: 45px;
    float: left;
    background-size: cover;
  }
  /* line 116, ../sass/widgets/_daypart.scss */
  .widget-daypart .daypart-wrapper .daypart-text {
    width: 70%;
  }
}
/**
* La Madeleine
* Location widget
**/
/* line 6, ../sass/widgets/_location.scss */
#mobile-location {
  width: 100%;
  height: 0;
  background: #fffdf0;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
  *zoom: 1;
}
/* line 13, ../sass/widgets/_location.scss */
#mobile-location.loaded {
  height: 50px;
  padding: 6px;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px;
}
/* line 19, ../sass/widgets/_location.scss */
#mobile-location.loaded:hover {
  cursor: pointer;
}
/* line 22, ../sass/widgets/_location.scss */
#mobile-location.loaded:after {
  color: #b55a0f;
  font-family: 'icomoon';
  font-size: 24px;
  content: "\e620";
  position: absolute;
  top: 15px;
  right: 5px;
}
/* line 32, ../sass/widgets/_location.scss */
#mobile-location .icon-phone {
  font-size: 35px;
  border: 1px solid #310d00;
  float: left;
  position: relative;
  z-index: 3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffdf0), color-stop(100%, #e5d7cd));
  background-image: -webkit-linear-gradient(#fffdf0, #e5d7cd);
  background-image: -moz-linear-gradient(#fffdf0, #e5d7cd);
  background-image: -o-linear-gradient(#fffdf0, #e5d7cd);
  background-image: linear-gradient(#fffdf0, #e5d7cd);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 41, ../sass/widgets/_location.scss */
#mobile-location a.location-link {
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 2;
}
/* line 48, ../sass/widgets/_location.scss */
#mobile-location .location-text {
  width: 80%;
  float: left;
  text-align: center;
}
/* line 52, ../sass/widgets/_location.scss */
#mobile-location .location-text p {
  margin: 0;
}
/* line 56, ../sass/widgets/_location.scss */
#mobile-location .title {
  font-size: 18px;
  line-height: 1.2;
  color: #7a3910;
}
/* line 61, ../sass/widgets/_location.scss */
#mobile-location .hours {
  font-size: 12px;
}
/* line 64, ../sass/widgets/_location.scss */
#mobile-location .location-cta {
  display: none;
}

/* line 69, ../sass/widgets/_location.scss */
.widget-location {
  display: none;
}

@media (min-width: 980px) {
  /* line 74, ../sass/widgets/_location.scss */
  #sidebar .widget-location {
    display: block;
    border-bottom: 0;
    width: 100%;
    overflow: hidden;
  }
  /* line 79, ../sass/widgets/_location.scss */
  #sidebar .widget-location .widget-title h3 {
    text-align: left;
    margin: 5px 0;
  }
  /* line 83, ../sass/widgets/_location.scss */
  #sidebar .widget-location #map {
    height: 95px;
    width: 100%;
  }
  /* line 87, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-cta {
    display: block;
    width: 100%;
    min-height: 270px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
  }
  /* line 96, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-cta.map-loading .loading {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  /* line 101, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-cta.map-loaded .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  /* line 104, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-cta .flipper {
    transform-style: preserve-3d;
    position: relative;
  }
  /* line 108, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-cta .flipper.transition {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
  }
  /* line 111, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-cta .front, #sidebar .widget-location #location-cta .back {
    width: 100%;
    height: 270 px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  /* line 119, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-cta .front {
    height: 270px;
    z-index: 2;
    background: url(../../../img/map/location-cta-bg.jpg) no-repeat;
  }
  /* line 124, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-cta .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  /* line 129, ../sass/widgets/_location.scss */
  #sidebar .widget-location .location-cta-divider {
    display: block;
    width: 230px;
    height: 16px;
    position: absolute;
    top: 130px;
    left: 20px;
    background: url(../../../img/map/location-cta-divider.png) no-repeat;
  }
  /* line 138, ../sass/widgets/_location.scss */
  #sidebar .widget-location .loading {
    display: none;
    position: absolute;
    top: 37%;
    left: 38%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  /* line 146, ../sass/widgets/_location.scss */
  #sidebar .widget-location .geo {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
  }
  /* line 153, ../sass/widgets/_location.scss */
  #sidebar .widget-location .zip {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
  }
  /* line 159, ../sass/widgets/_location.scss */
  #sidebar .widget-location .zip input {
    width: 50%;
    height: 29px;
    margin-right: 3%;
    padding: 0 5px;
    position: relative;
    font-size: 16px;
    font-family: "Merriweather", serif;
    font-style: italic;
    border: 0;
    color: #b55a0f;
    background-color: #fffdf0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 174, ../sass/widgets/_location.scss */
  #sidebar .widget-location .icon-pin {
    color: #fffdf0;
    font-size: 30px;
  }
  /* line 178, ../sass/widgets/_location.scss */
  #sidebar .widget-location #use-location {
    position: relative;
    top: 10px;
  }
  /* line 182, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-info {
    width: 100%;
    overflow: hidden;
  }
  /* line 185, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-info .location-title {
    font-family: "Merriweather", serif;
    font-size: 15px;
    color: #7a3910;
    margin: 10px 0 5px;
  }
  /* line 191, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-info .info-wrapper {
    width: 100%;
    padding: 5px 5px 0;
    overflow: hidden;
    border-bottom: 1px solid #e5d7cd;
  }
  /* line 197, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-info .address, #sidebar .widget-location #location-info .phone {
    float: left;
    text-align: left;
    font-size: 12px;
    line-height: 1.3;
    padding: 0 10px 10px;
    color: #310d00;
  }
  /* line 205, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-info .address {
    width: 55%;
    border-right: 1px solid #e5d7cd;
  }
  /* line 209, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-info .phone {
    width: 45%;
  }
  /* line 212, ../sass/widgets/_location.scss */
  #sidebar .widget-location #location-info .hours {
    font-size: 12px;
    margin: 10px 0;
    color: #310d00;
  }
  /* line 218, ../sass/widgets/_location.scss */
  #sidebar .widget-location .btn-wrapper {
    width: 100%;
    overflow: hidden;
  }
  /* line 222, ../sass/widgets/_location.scss */
  #sidebar .widget-location .btn-wrapper .btn {
    width: 46%;
    display: block;
    float: left;
    margin: 0 2%;
  }
  /* line 233, ../sass/widgets/_location.scss */
  #sidebar .widget-location .location-view #location-image {
    height: 150px;
    overflow: hidden;
    background-color: #f4f2df;
  }

  /* line 240, ../sass/widgets/_location.scss */
  #mobile-location {
    display: none;
  }
}
@media (min-width: 1140px) {
  /* line 247, ../sass/widgets/_location.scss */
  #sidebar .widget-location .widget-title {
    width: 100%;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 250, ../sass/widgets/_location.scss */
  #sidebar .widget-location .widget-title h3 {
    float: left;
  }
  /* line 253, ../sass/widgets/_location.scss */
  #sidebar .widget-location .widget-title a {
    float: right;
    padding-top: 14px;
  }
}
/**
* La Madeleine
* Les Menu Page Styling
**/
/* line 6, ../sass/templates/_les-menu.scss */
.menu-overview {
  position: relative;
}
/* line 8, ../sass/templates/_les-menu.scss */
.menu-overview .menu-featured-image {
  overflow: hidden;
  padding-bottom: 3px;
  border-bottom: 1px solid #e5d7cd;
}
/* line 12, ../sass/templates/_les-menu.scss */
.menu-overview .menu-featured-image img {
  width: 100%;
}
/* line 16, ../sass/templates/_les-menu.scss */
.menu-overview h1.menu-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: -20px;
  color: #310d00;
  font-size: 24px;
}
/* line 22, ../sass/templates/_les-menu.scss */
.menu-overview h1.menu-title span {
  background: #fffdf0;
}
/* line 25, ../sass/templates/_les-menu.scss */
.menu-overview h1.menu-title span.inner {
  padding: 15px 25px 11px;
  border: 1px solid #e5d7cd;
  position: relative;
  top: 17px;
}
/* line 31, ../sass/templates/_les-menu.scss */
.menu-overview h1.menu-title span.outer {
  display: inline-block;
  max-height: 30px;
  padding: 5px;
  position: relative;
  top: -15px;
}
/* line 39, ../sass/templates/_les-menu.scss */
.menu-overview .menu-text {
  padding: 15px 10px;
  text-align: center;
}

/* line 45, ../sass/templates/_les-menu.scss */
.menu-details {
  width: 100%;
  padding: 0 15px;
  overflow: hidden;
}
/* line 49, ../sass/templates/_les-menu.scss */
.menu-details .category-title {
  padding: 0 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #310d00;
}

/* line 60, ../sass/templates/_les-menu.scss */
.featured-menu-item {
  height: auto;
  position: relative;
  margin-bottom: 30px;
}
/* line 64, ../sass/templates/_les-menu.scss */
.featured-menu-item .text-wrapper {
  padding: 15px;
  position: absolute;
  bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.7);
}
/* line 71, ../sass/templates/_les-menu.scss */
.featured-menu-item .title {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Merriweather", serif;
}
/* line 76, ../sass/templates/_les-menu.scss */
.featured-menu-item .icon-stories {
  width: 15%;
  float: left;
  color: white;
  font-size: 30px;
  text-align: center;
}
/* line 83, ../sass/templates/_les-menu.scss */
.featured-menu-item .story-teaser {
  width: 85%;
  float: left;
  font-style: italic;
  font-size: 13px;
  line-height: 1.5;
}
/* line 89, ../sass/templates/_les-menu.scss */
.featured-menu-item .story-teaser a {
  font-size: 13px;
  color: #ff6600;
  white-space: nowrap;
}
/* line 93, ../sass/templates/_les-menu.scss */
.featured-menu-item .story-teaser a:hover {
  color: #ff8533;
}
/* line 95, ../sass/templates/_les-menu.scss */
.featured-menu-item .story-teaser a:hover .icon {
  left: 1px;
}
/* line 99, ../sass/templates/_les-menu.scss */
.featured-menu-item .story-teaser a .icon {
  font-size: 16px;
  line-height: 12px;
  position: relative;
  top: 3px;
  left: -3px;
}

/* line 110, ../sass/templates/_les-menu.scss */
.menu-item {
  margin-bottom: 30px;
}
/* line 112, ../sass/templates/_les-menu.scss */
.menu-item .title-wrapper {
  width: 100%;
  overflow: hidden;
}
/* line 115, ../sass/templates/_les-menu.scss */
.menu-item .title-wrapper .title {
  margin-bottom: 2px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  float: left;
}
/* line 121, ../sass/templates/_les-menu.scss */
.menu-item .title-wrapper .menu-keys {
  float: left;
  padding: 4px 0 0 5px;
}
/* line 126, ../sass/templates/_les-menu.scss */
.menu-item .desc {
  font-size: 13px;
}
/* line 129, ../sass/templates/_les-menu.scss */
.menu-item .story-teaser {
  width: 100%;
  padding: 15px;
  border: 1px solid #310d00;
  background: white;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 136, ../sass/templates/_les-menu.scss */
.menu-item .story-teaser .icon-stories {
  width: 15%;
  padding-top: 10px;
  font-size: 30px;
  float: left;
  text-align: center;
}
/* line 143, ../sass/templates/_les-menu.scss */
.menu-item .story-teaser p, .menu-item .story-teaser a {
  font-size: 13px;
  line-height: 1.5;
}
/* line 147, ../sass/templates/_les-menu.scss */
.menu-item .story-teaser p {
  width: 85%;
  float: left;
  margin-bottom: 0;
}
/* line 152, ../sass/templates/_les-menu.scss */
.menu-item .story-teaser a {
  white-space: nowrap;
}
/* line 156, ../sass/templates/_les-menu.scss */
.menu-item .story-teaser a:hover .icon-arrow-right {
  left: 1px;
}
/* line 160, ../sass/templates/_les-menu.scss */
.menu-item .story-teaser .icon-arrow-right {
  font-size: 16px;
  line-height: 13px;
  position: relative;
  top: 3px;
  left: -3px;
}
