/**
* La Madeleine
* Locations Page Styling
**/
#content.locations{
	//height: 100%;
	#main, #main .post-box{
		//height: 100%;
	}
	#map-full{
        height: 200px;
        // Foundation Google Maps fix
        max-width: none;
        @include transition-duration(0.5s);
    }
    #map-full.mobile-tall{
        height: 400px;
    }
    // Foundation Google Maps fix
    .gmnoprint > div > * {
        max-width: none;
    }
}

@media (min-width: $medium-screen-min){
    #content.locations{
        height: 100%;
        #main, #main .post-box{
            height: 100%;
        }
        #map-full{
            height: 100%;
        }
    }
}