/**
* La Madeleine
* Stories & Standard (Generic) Pages Styling
**/

#content.stories, #content.page-single, body.category, body.single-post	{
	#main{
		background: $medCream;
		overflow: hidden;
		border-right: 1px solid $lightFadedBrown;
	}
	#sidebar{
		display: none;
	}
}

// Single story view
#content article{
	.image-wrapper img{
		width: 100%;
		display: block;
	}
	.text-wrapper{
		padding: 0 15px;
		position: relative;
		z-index: 2;
		&.shadow{
			@include box-shadow(rgba(0,0,0,0.3) 0 -3px 3px);
		}
	}
	p{
		color: $darkBrown;
	}
	.entry-header{
		padding: 10px 0;
		margin-bottom: 20px;
		text-align: center;
		border-bottom: 1px dashed $fadedBrown;
		h1{
			font-size: 20px;
			@include text-shadow(rgba(0,0,0,0.3) 1px 1px 1px);
		}
		h2{
			font-family: $playfair;
			font-style: italic;
			font-weight: normal;
			font-size: 16px;
			line-height: 1.4;
		}
	}
}

@media (min-width: $medium-screen-min){
	#content.stories, #content.page-single, body.category, body.single-post	{
		#sidebar{
			display: block;
		}
	}
	#content article{
		.text-wrapper{
			padding: 0 30px;
			@include box-shadow(rgba(0,0,0,0.3) 0 -3px 10px);
		}
		.entry-header{
			h1{
				font-size: 33px;
			}
			h2{
				font-size: 18px;
			}
		}
	}
}