/**
* La Madeleine
* Daypart widget
**/

.widget-daypart{
  width: 100%;
  overflow: hidden;
  .daypart-wrapper{
    position: relative; 
    max-width: 500px;
    margin: 0 auto;
    .categories{
      display: none;
    }
    .title{
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
      font-family: $merriweather;
    }
    .desc{
      display: none;
      font-size: 12px;
      font-style: italic;
      line-height: 1.4;
    }
    .daypart-image-thumb{
      width: 100%;
      float: left;
    }

    a.daypart-link{
      position: relative;
      display: block;
      width: 33%;
      padding: 0 15px;
      float: left;
    }

    a.daypart-link:first-child{
      display: block;
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px dashed $fadedBrown;
      &:after{
        color: $lightBrown;
        font-family: 'icomoon';
        font-size: 24px;
        content: "\e624";
        position: absolute;
        top: 20px;
        right: 0;
      }
      .daypart-image{
        width: 50%;
        float: left;
      }
      .daypart-text{
        width: 50%;
        padding: 0 15px;
        float: left;
        font-family: $merriweather;
        color: $darkBrown;
      }
      .title{
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
      }
      .desc{
        display: block;
      }
    }
  }
}

// Set styles for currently selected menu
#content.breakfast .widget-daypart .breakfast, 
#content.lunch .widget-daypart .lunch,
#content.dinner .widget-daypart .dinner,
#content.bakery .widget-daypart .bakery{
  cursor: default;
  &:hover .daypart{
    background: none;
  }
  &:hover .daypart.featured{
    background: $medCream;
  }
  &:after{
    display: none;
  }
  .categories{
    display: block;
    margin: 15px 15px 10px 15px;
    li{
      font-size: 12px;
      list-style: circle;
    }
    span{
      font-family: $merriweather;
      font-weight: bold;
      color: $redBrown;
      @include transition-duration(0.3s);
      &:hover, &.active{
        color: $orange;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $medium-screen-min){
  #content #sidebar .widget.home-daypart{
    border-bottom: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $medium-screen-min){
  .widget-daypart{
    .daypart-wrapper{
      .daypart{
        width: 100%;
        margin: 6px 0;
        overflow: hidden;
        @include transition-property(background-color);
        @include transition-duration(0.25s);
      }
      .daypart-image-thumb{
        width: 45px;
        height: 45px;
        float: left;
      }
      .daypart-text{
        width: 72%;
        padding: 0 5px 0 10px;
        float: left;
        font-family: $merriweather;
        color: $darkBrown;
      }
      .title{
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
      }
      .desc{
        display: block;
        font-family: $merriweather;
        font-size: 10px;
      }
      a.daypart-link{
        display: block;
        width: 100%;
        overflow: hidden;
        padding: 0;
        &:after{
          color: $lightBrown;
          font-family: 'icomoon';
          font-size: 24px;
          content: "\e624";
          position: absolute;
          top: 18px;
          right: 10px;
          @include transition-duration(0.25s);
        }
        
        &:hover{
          &:after{
            right: 0;
          }
          .daypart{
            background-color: $medCream;
          }
        }
      }
      a.daypart-link:first-child{
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        &:after{
          content: "";
        }
        .daypart{
          padding: 5px 5px 10px;
          margin: 0 0 10px;
          border: 1px solid;
          border-color: $fadedBrown $fadedBrown $medBrown $fadedBrown;
          background-color: $medCream;
          @include transition-property(background-color);
          @include transition-duration(0.25s);
          &:hover{
            background-color: $darkCream;
          }
          .daypart-image{
            width: 100%;
          }
          .daypart-text{
            width: 100%;
            padding-top: 5px;
            padding-left: 49px;
            position: relative;
            &:before{
              content: url(../../../img/menu/now.png);
              width: 50px;
              height: 30px;
              position: absolute;
              top: 10px;
              left: 7px;
            }
          }
        }
      }
    }
  }
}