/**
* La Madeleine
* Foundation overrides
**/

.row{
	min-width: 0;
}

aside p{
	font-style: normal;
}

// Fix Foundation/WordPress admin bar margin issue on mobile.
// http://foundation.zurb.com/forum/posts/1744-the-wordpress-admin-bar-getting-it-to-play-nice-with-foundation-5
@media screen and (max-width: 600px) {
    #wpadminbar {
		position: fixed !important;
	}
}